<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>智联机票在线预定</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="layui/css/login.css" media="all" />
    <style>
        /* 覆盖原框架样式 */
        .layui-elem-quote {
            background-color: inherit !important;
        }

        .layui-input
        {
            background-color: inherit;
            padding-left: 30px;
        }
        .container02{
            width: 96%;
        
            margin: 50px auto;
        }
        .content02{
            margin: 20px 10px;
            width: 200px;
            height: 100px;
            border: 2px #01AAED solid;
        }
    </style>
</head>

<body>
   <!-- Head -->
<div class="head" style="margin-top: 5px;">
    <div class="layui-row" style="height:80px">
        <div class="layui-col-md8">
            <a href="/index"><img style="margin-top: 10px;" height="60px" src="./src/logo.png"></img></a>
        </div>
        <div  class="layui-col-md4">
            <div th:if="${session.userId} eq null" class="layui-fluid" style="display:inline;">
                <div  style="display:inline;">你好，</div>
                <span class="layui-breadcrumb" lay-separator="|">
                        <a href="/login">请登录</a>
                        <a href="/register">免费注册</a>

                    </span>
            </div>
            <div th:if="${session.userId} ne null" class="layui-fluid" style="display:inline;">
                <div style="display:inline;">欢迎回来，</div>
                <span class="layui-breadcrumb" lay-separator="|">
                        <a th:if="${session.nickName} ne null"  th:text="${session.nickName}"></a>
                        <a th:if="${session.nickName} eq null">取个名字？</a>
                    </span>
            </div>

            </ul>
            <a href="/myInfo" class="layui-btn layui-btn-normal layui-btn-xs">我的</a>
            <a href="/myOrder" class="layui-btn layui-btn-normal layui-btn-xs">我的订单</a>
            <a href="/contact" class="layui-btn layui-btn-normal layui-btn-xs">联系客服</a>
        </div>
    </div>

</div>
    <div
        style="position: absolute;z-index: 9;background-color: rgb(8, 190, 245);width: 560px;height: 350px;margin-top: 60px;margin-left: 40px;">
        <div class="layui-tab" style="background-color: white;margin: 10px;height: 330px">
            <ul class="layui-tab-title">
                <li class="layui-this">国内机票</li>
                <li>国际机票</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <form class="layui-form" action="/search" method="GET">
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="radio" name="tp" value="单程" title="单程" checked>
                                <input type="radio" name="tp" value="往返" title="往返">
                            </div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md5">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">出发城市</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="fromcity" class="layui-input" placeholder="如：宜昌" required>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md5">
                                <div class="layui-form-item" style="width: 270px;display: inline;">
                                    <label class="layui-form-label">到达城市</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="tocity" class="layui-input" required placeholder="如：深圳">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md1"></div>
                        </div>
                        <div class="layui-row">
                            <div class="layui-col-md8">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">出行日期</label>
                                    <div class="layui-input-block">
                                        <div class="layui-inline">
                                            <!-- 注意：这一层元素并不是必须的 -->
                                            <input type="text" name="fromdate"  class="layui-input" required id="dateform" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-col-md6">
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" type="submit">搜索</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="layui-tab-item">国际机票</div>
            </div>
        </div>
    </div>

    <!-- Head End -->

    <!-- Carousel -->
    <div class="layui-row">
        <div class="layui-col-sm12 layui-col-md12">
            <div class="layui-carousel zyl_login_height" id="zyllogin" lay-filter="zyllogin">
                <div carousel-item="">
                    <div>
                        <div class="zyl_login_cont"></div>
                    </div>
                    <div>
                        <img src="layui/images/carousel/01.jpg" />
                    </div>
                    <div>
                        <div class="background">
                            <span></span><span></span><span></span>
                            <span></span><span></span><span></span>
                            <span></span><span></span><span></span>
                            <span></span><span></span><span></span>
                        </div>
                    </div>
                    <div>
                        <img src="layui/images/carousel/03.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <div class="container02">
        <h2 style="border-bottom: 2px rgb(0, 203, 253) solid;padding-bottom: 10px;">国内优价</h2>
        <div style="display: flex;width: 100%;justify-content: space-around;flex-wrap: wrap;">
            <div th:each="tFlight:${todaytFlightList}" class="content02">
                <div style="display:flex;margin: 10px;">
                    <div th:text="${tFlight.fromcity}">上海</div>
                    <img width="20px" src="src/jiantou.png" >
                    <div th:text="${tFlight.tocity}">北京</div></div>
                
                <div th:text="${tFlight.fromtime.toString().substring(0,10)}" style="margin: 5px 10px;">12月24日</div>
                <div  style="display:flex;margin: 10px;justify-content: space-between;">
                <div style="color: #eb7350" th:text="'￥'+${tFlight.ecprice}+'元'">￥1200元</div>
                <button th:data-fromcity="${tFlight.fromcity}" th:data-tocity="${tFlight.tocity}" th:data-fromdate="${tFlight.fromtime.toString().substring(0,10)}" class="layui-btn layui-btn-warm layui-btn-xs search_btn">立抢</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <div class="layui-row" style="line-height: 80px;">
        <div class="layui-col-sm12 layui-col-md12 zyl_center zyl_mar_01">
            © 2020 - 智联机票在线预定 || airticket.com版权所有
        </div>
    </div>
    <!-- Footer End -->






    <!-- Jquery Js -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Layui Js -->
    <script type="text/javascript" src="layui/layui.js"></script>
    <!-- Jqarticle Js -->
    <script type="text/javascript" src="assembly/jqarticle/jparticle.min.js"></script>
    <!-- ZylVerificationCode Js-->
    <script type="text/javascript" src="assembly/zylVerificationCode/zylVerificationCode.js"></script>
    <script>
        $(".search_btn").click(function () {
            var fromcity = $(this).attr("data-fromcity");//获得参数的值
            var tocity = $(this).attr("data-tocity");//获得参数的值
            var fromdate = $(this).attr("data-fromdate");//获得参数的值
            console.log(fromcity)
            console.log(tocity)
            console.log(fromdate)
            window.location.href = "/search?fromcity=" + fromcity + "&tocity="+tocity+"&fromdate="+fromdate;

        });
        layui.use('form', function () {
            var form = layui.form;

            // //监听提交
            // form.on('submit(formDemo)', function (data) {
            //     layer.msg(JSON.stringify(data.field));

            // });
        });
        layui.use(['carousel'], function () {
            var carousel = layui.carousel


            //设置轮播主体高度
            var zyl_login_height = $(window).height() / 1.3;
            var zyl_car_height = $(".zyl_login_height").css("cssText", "height:" + zyl_login_height + "px!important");


            //Login轮播主体
            carousel.render({
                elem: '#zyllogin'//指向容器选择器
                , width: '100%' //设置容器宽度
                , height: 'zyl_car_height'
                , arrow: 'always' //始终显示箭头
                , anim: 'fade' //切换动画方式
                , autoplay: true //是否自动切换false true
                , arrow: 'hover' //切换箭头默认显示状态||不显示：none||悬停显示：hover||始终显示：always
                , indicator: 'none' //指示器位置||外部：outside||内部：inside||不显示：none
                , interval: '5000' //自动切换时间:单位：ms（毫秒）
            });

            //监听轮播--案例暂未使用
            carousel.on('change(zyllogin)', function (obj) {
                var loginCarousel = obj.index;
            });

            //粒子线条
            $(".zyl_login_cont").jParticle({
                background: "rgba(0,0,0,0)",//背景颜色
                color: "#fff",//粒子和连线的颜色
                particlesNumber: 100,//粒子数量
                //disableLinks:true,//禁止粒子间连线
                //disableMouse:true,//禁止粒子间连线(鼠标)
                particle: {
                    minSize: 1,//最小粒子
                    maxSize: 3,//最大粒子
                    speed: 30,//粒子的动画速度
                }
            });

        });
        layui.use('element', function () {
            var element = layui.element;

            //一些事件监听
            element.on('tab(demo)', function (data) {
                console.log(data);
            });
        });
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#dateform' //指定元素
            });
        });
    </script>
</body>

</html>