<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>测试</title>
    <link rel="stylesheet" href="layui/css/layui.css" media="all" />
    <!-- Jquery Js -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- Layui Js -->
    <script type="text/javascript" src="layui/layui.js"></script>

</head>

<body>
    <h1 th:text="${tflight.fromcity}"></h1>
    <h1 th:text="${tflight.tocity}"></h1>
    <h1 th:text="${fromdate}"></h1>
    <h2 id="hello"></h2>
</body>
<script th:inline="javascript">
    var fromcity = [[${ tflight.fromcity }]];
    var tocity = [[${ tflight.tocity }]];
    var fromdate = [[${ fromdate }]];
    var addr = "http://localhost:8181/flight/searchBy?fromcity=" + fromcity + "&tocity=" + tocity + "&fromdate=" + fromdate;
    console.log(addr)
    $.ajax({
        url: addr,
        type: "Get",
        data: "",
        success: function (result) {
            console.log(result);
            $("#hello").text=result.data[0].cname;
            console.log(result.data[0].cname);
        },
    });
</script>

</html>